<ion-header>
  <ion-toolbar color="primary">
    <ion-title>A propos Zinzin Magazine</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div align="center" class="p-10">
    <img style="width: 75%;" src="../../assets/ci.png">
  </div>
<!-- 
  <div align="center" class="p-10">
    <p>
      Édité par SAS TC PUBLICATIONS <br>
      Siège social : 6, rue Lasègue 92320 Châtillon-France <br>
      RCS Nanterre B 799 231 030 <br>
      SIRET : 799 231 030 00013 <br>
      ISSN : 2498-1427 <br>
      Tél : +33749462463 / +33752956670 <br>
      www.challenge-international.net
    </p>
  </div>

  <div align="center" class="p-10">
    <h1>DIFFUSION/VENTE / PUBLICITÉ</h1>
    <p>
      Christophe Bouvier & Elvire Epassi
    </p>
  </div>



  <div align="center" class="p-10">
    <h1>RÉALISATION</h1>
    <p>
      <b>Maquette et infographie</b><br>
      <b>Directrice : </b> Josette Garche<br>
      <b>Adjoint :</b> Nganmedjio Jean Claude<br>
      <b>Directeur artistique :</b> Régis Manton
    </p>
  </div>


  <div align="center" class="p-10">
    <h1>DIRECTION</h1>
    <p>
      <b>CEO & Directeur de publication : </b> <br>Clément Tchouanté<br>
      ctchouante@hotmail.fr,<br>
      clementtchouante@challenge-international.net<br>
      <b>Assistante :</b> Estelle Perrin<br>
    </p>
  </div>



  <div align="center" class="p-10">
    <h1>REDACTION</h1>
    <p>
      <b>Rédacteur en chef : </b> <br>Christian Pelletier<br>
      redaction@challenge-international.net<br>
      <b>Rédacteurs en chef adjoint : </b> <br>Lamine Backé & Claude Garnier<br>
      redaction@challenge-international.net<br>
      <b>Sécrétariat de rédaction : </b> <br>Maîmouna BÂ<br>
      <b>RELECTURE : </b> <br>Corinne Persan<br>
    </p>
  </div>


  <div align="center" class="p-10">
    <h1>ABONNEMENT</h1>
    <p>
      Djibrille Camara
    </p>
  </div>


  <div align="center" class="p-10">
    <h1>COLLABORATEURS</h1>
    <p>
      Anne Royan, Jean-Marie Bitomo, Jonathan Buvens,
      Abdou Cissé, Hervé Cohen, Christian Pelletier,
      Claude Garnier, Moïse Bayi, Lamine Backé, Étienne de Tayo, Badour Oumar Ali
    </p>
  </div>

  <div align="center" class="p-10">
    <h1>Site Internet & Application mobile</h1>
    <p>
      Michel TANGA
    </p>
  </div>




  <div align="center" class="p-10">
    <h1>CONSEILS ET DISTRIBUTION</h1>
    <p>
      <b>Conseil : </b> <br>Cabinet NYF Conseils Paris – France<br>
      <b>Distributeur : </b> <br>MLP<br>
      <b>SCommission Paritaire et ISSN : </b> <br>2498-1427<br>
      <b>Impression en EU : </b> <br>Rotimpress<br>
    </p>
  </div> -->






</ion-content>
