<ion-content class="ion-padding"  style="--background: {{color}};">
  <ion-slides #slides pager="true"  (ionSlideDidChange)="slidesChanged()">
    <ion-slide class="ion-padding1" value="test">
      <img src="../../assets/1.png" >
      <div class="slider-text">
        <h2 style="color:#dc143c;">Challenge International disponible chez votre marchand de journaux et en version digitale</h2>
      </div>
      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="skip()">Passer</ion-button>
        <ion-button style="border: 1px solid #dc143c; border-radius: 30px;" color="primary" fill="clear" (click)="next()">Continuer</ion-button>
      </div>
    </ion-slide>
    <ion-slide class="ion-padding2">
      <img src="../../assets/2.png" >
      <div class="slider-text">
        <h2 style="color:#dc143c;">Challenge international au cœur de l 'actualité mondiale et Africaine. RDV chez votre buraliste et marchand de journaux habituel.</h2>

      </div>
      <div class="navigator">
             <ion-button color="primary" fill="clear" (click)="skip()">Passer</ion-button>
             <ion-button style="border: 1px solid #dc143c; border-radius: 30px;" color="primary" fill="clear" (click)="next()">Continuer</ion-button>
      </div>
    </ion-slide>
    <ion-slide class="ion-padding3">
      <img src="../../assets/3.png" >
      <div class="slider-texts">
      </div>
      <ion-button (click)="go()"  style="background-color: transparent; color:#F9EF20; border: 2px solid #F9EF20; border-radius: 30px;margin-top:35px;"> Commencer à lire</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>