<ion-header class="ion-no-border">
	<ion-toolbar color="primary" class="productHeader">
        <ion-title class="titre" [innerHTML]="sanitizer.bypassSecurityTrustHtml(category)"></ion-title>
<!-- 		<ion-buttons slot="end">
			<ion-button >
                <ion-icon (click)="notification()" color="light" name="search-outline"></ion-icon>
			</ion-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="page-content">
  <ion-card *ngFor="let post of posts"  class="post-card">
    <ion-card-header>
      <ion-card-title class="titre" [innerHTML]="sanitizer.bypassSecurityTrustHtml(post.title.rendered)"></ion-card-title>
      
    </ion-card-header>
    <img *ngIf="post.featured_media!=false" [src]="post.featured_url"/>
    <ion-card-content>
      <p [innerHTML]="sanitizer.bypassSecurityTrustHtml(post.excerpt.rendered)"></p>
    </ion-card-content>
    <ion-item class="ion-activated" detail lines="none" color="primary">
      <!-- <ion-label *ngIf="!post.modified">{{post.date | date}}</ion-label><ion-label *ngIf="post.modified">{{post.modified | date}}</ion-label> -->
      <ion-icon (click)="invite(post)" name="arrow-redo-outline"></ion-icon>
      <ion-label [routerLink]="['/post', post.id]" class="read-more-label">Lire la suite ...</ion-label>
    </ion-item>
  </ion-card>
</ion-content>

