
<ion-tabs >
  <ion-tab-bar slot="bottom" style="border-top: none; background:#f1f5f8;">
    <ion-tab-button class="tab-t" tab="tab1">
      <ion-icon class="tab-color" name="newspaper-outline"></ion-icon>
      <ion-label class="tab-color"> Actualités</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tab-t" tab="tab2">
      <ion-icon name="tv-outline" class="tab-color"></ion-icon>
      <ion-label class="tab-color">Zinzin TV</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tab-t" tab="tab3">
      <ion-icon name="document-text-outline" class="tab-color"></ion-icon>
      <ion-label class="tab-color">Le magazine</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


