<ion-header class="ion-no-border">
	<ion-toolbar color="primary" class="productHeader">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
        <ion-title class="centered-p">Zinzin TV</ion-title>
<!-- 		<ion-buttons slot="end">
			<ion-button >
                <ion-icon (click)="notification()" color="light" name="search-outline"></ion-icon>
			</ion-button>
		</ion-buttons> -->
	</ion-toolbar>
</ion-header>


<ion-content padding>
  <div class="video-list" no-padding mode="md" *ngFor="let info of videos">
    <div class="container" (click)="viewVideo(info.id.videoId)">
        <img [src]="info.snippet.thumbnails.high.url" alt="Chargement lent! Veuillez verifier votre connexion" style="width:400px;">
        <div class="text-block">
            <div color="primary" class="inner">
                <ion-icon name="play"></ion-icon> 
              <b>Zinzin TV</b><br/>Cliquez ici pour lire la video
               
              </div>
        </div>
      </div> 
    <div class="details">
      <div class="title-block">
        <div class="title">{{info.snippet.title}}</div>
        <div class="extra">
            {{info.snippet.description}}
        </div>
      </div>
    </div>
  </div>
</ion-content>